.venv/
cc_menu.json
terrace_menu.json

__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.bak
*.swp
.DS_Store
.idea/
.codex
.vscode/
*.egg-info/
dist/
build/
*.egg
*.whl
*.tar.gz
*.zip
.env
.ruff_cache/
uploads/*